.icon-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}   

.icon-row__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
    color: rgba(0,0,0,0.7);
}

.icon-row__icon span{
    margin-top: 18px;
    text-align: center;
}

.icon-row__icon:hover {
    cursor: pointer;
    color: black;
    }

.opacity0{
    opacity:0;
}